body {font-family: Georgia, 'Times New Roman', Times, serif}
body {background-color:rgb(249, 249, 249);}
text {color: white;}
link {color:#faf1f1;}
h1 {color: #131313;}
h2 {color:#131213;}
h3 {color: #0a0a0a;}
p {color: #070707;}
nav {background-color: #faf7f9; }