body {font-family: Georgia, 'Times New Roman', Times, serif}
body {background-color:#000;}
text {color: white;}
link {color:#000;}
h1 {color: #da509a;}
h2 {color:#da509a;}
p {color: #dddddd;}
nav {background-color: #DA0C81; }
nav a {color: #000}
nav a:hover{background-color: pink; }
nav {padding: 10px;}
nav {margin-bottom: 30px;}


.special{color: pink}
h1 {font-size: 8em;}
h2 {font-size: 6em;}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) 
  { background-color: pink; }
 selector.evenrow {background-color: pink;}
  